<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInformationServlet</servlet-name>
        <servlet-class>za.ac.Servlet.AddInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>za.ac.Servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmSignUp</servlet-name>
        <servlet-class>za.ac.Servlet.ConfirmSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicProfileServlet</servlet-name>
        <servlet-class>za.ac.Servlet.PublicProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfoServlet</servlet-name>
        <servlet-class>za.ac.Servlet.EditInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionsServlet</servlet-name>
        <servlet-class>za.ac.Servlet.ConnectionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkExperienceServlet</servlet-name>
        <servlet-class>za.ac.Servlet.WorkExperienceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EducationServlet</servlet-name>
        <servlet-class>za.ac.Servlet.EducationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillServlet</servlet-name>
        <servlet-class>za.ac.Servlet.SkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificationServlet</servlet-name>
        <servlet-class>za.ac.Servlet.CertificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReferenceServlet</servlet-name>
        <servlet-class>za.ac.Servlet.ReferenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>za.ac.Servlet.ViewProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInformationServlet</servlet-name>
        <url-pattern>/AddInformationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmSignUp</servlet-name>
        <url-pattern>/ConfirmSignUp.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicProfileServlet</servlet-name>
        <url-pattern>/PublicProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicProfileServlet</servlet-name>
        <url-pattern>/PublicProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfoServlet</servlet-name>
        <url-pattern>/EditInfoServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionsServlet</servlet-name>
        <url-pattern>/ConnectionsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkExperienceServlet</servlet-name>
        <url-pattern>/WorkExperienceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EducationServlet</servlet-name>
        <url-pattern>/EducationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillServlet</servlet-name>
        <url-pattern>/SkillServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificationServlet</servlet-name>
        <url-pattern>/CertificationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReferenceServlet</servlet-name>
        <url-pattern>/ReferenceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfileServlet.do</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
